/*SweetAlert2*/
.swal2-title {
    font-size: 16px;
}

.swal2-question {
    width: 50px;
    height: 50px;
}

.swal2-styled {
    padding: 6px;
}

/*transition*/
.v-enter-active,
.v-leave-active {
    transition: opacity 0.2s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}


/*Datapicker next*/
.mx-datepicker {
    width: 100% !important;
}

.mx-datepicker-range {
    width: 100% !important;
}



/*Layout*/
.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 5rem 1rem 2rem 2rem;
    transition: transform 0.2s ease;
  }
  .layout-main {
    flex: 1 1 auto;
    border-radius: 10px;
    border: 1px solid #ffffff1f;
}
