@media screen and (min-width: 1960px) {
    .layout-main, .landing-wrapper {
      width: 1504px;
      /*margin-left: auto !important;
      margin-right: auto !important;*/
    }
  }
  @media (min-width: 992px) {
    .layout-wrapper.layout-overlay .layout-main-container {
      margin-left: 0;
      padding-left: 2rem;
    }
    .layout-wrapper.layout-overlay .layout-sidebar {
      transform: translateX(-100%);
      left: 0;
      top: 0;
      height: 100vh;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .layout-wrapper.layout-overlay.layout-overlay-active .layout-sidebar {
      transform: translateX(0);
    }
    .layout-wrapper.layout-static .layout-main-container {
      margin-left: 220px;
    }
    .layout-wrapper.layout-static.layout-static-inactive .layout-sidebar {
      transform: translateX(-100%);
      left: 0;
    }
    .layout-wrapper.layout-static.layout-static-inactive .layout-main-container {
      margin-left: 0;
      padding-left: 1rem;
    }
    .layout-wrapper .layout-mask {
      display: none;
    }
  }
  @media (max-width: 991px) {

    .layout-wrapper .layout-main-container {
      margin-left: 0;
      padding-left: 1rem;
    }
    .layout-wrapper .layout-sidebar {
      transform: translateX(-100%);
      left: 0;
      top: 0;
      height: 100vh;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .layout-wrapper .layout-mask {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 39;
      width: 100%;
      height: 100%;
      background-color: var(--maskbg);
    }
    .layout-wrapper.layout-mobile-active .layout-sidebar {
      transform: translateX(0);
    }
    .layout-wrapper.layout-mobile-active .layout-mask {
      display: block;
      animation: fadein 0.1;
    }
  }
