<script setup>

import Icono from '@/assets/imagenes/icons8-rick-sanchez-48.png'
import Layout from '@/layouts/Layout.vue'

</script>

<template>
    <Layout>

        <div class="bg-gray-100">
    <div class="container mx-auto py-8">
      <div class="bg-white p-8 rounded-lg shadow-md">
        <h2 class="text-4xl font-semibold mb-4 text-gray-800">Sobre Nosotros</h2>
        
        <p class="text-gray-600 mb-4 leading-relaxed">
          Bienvenido a Srf Nos enorgullece ofrecer un servicio de ayuda contable y organizacion con sus egresos e ingreso. Con un equipo dedicado y apasionado, buscamos Identificar y analizar detalladamente los patrones y tendencias de endeudamiento, con el fin de comprender las causas subyacentes y tomar decisiones informadas para su mitigación. .
        </p>

        <p class="text-gray-600 leading-relaxed">
          Estamos comprometidos a proporcionar la adopción y aceptación del sistema entre los usuarios mediante programas de capacitación y concientización, asegurando su integración exitosa en los procesos financieros cotidianos.. Nuestro objetivo es Desarrollar e implementar un sistema de información integral destinado al control de activos y pasivos, con el propósito de optimizar la gestión financiera, mitigar riesgos y mejorar la salud económica tanto a nivel individual como organizacional.. ¡Únete a nosotros en esta emocionante aventura!
        </p>

        <div class="mt-6">
            <a href = "/contacto">
          <button class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 content-center">Contáctanos</button>
            </a>
        </div>
      </div>
    </div>
    <div class="bg-gray-100">
    <div class="container mx-auto py-8">
      <div class="bg-white p-8 rounded-lg shadow-md">
        <div class="flex items-center mb-4">
          <img src="https://media-bog2-1.cdn.whatsapp.net/v/t61.24694-24/399546389_880489983382940_3601373294784682594_n.jpg?ccb=11-4&oh=01_AdTdL8l1wkpFVrrHysLzz1MLM6DnwaxQWjQ_z-kla3mPkg&oe=65B65A7C&_nc_sid=e6ed6c&_nc_cat=104" alt="Imagen de la persona" class="w-12 h-12 rounded-full mr-4">
          <div>
            <h2 class="text-xl font-semibold text-gray-800">Daniel</h2>
            <p class="text-gray-600">Cliente</p>
          </div>
        </div>

        <p class="text-gray-700 leading-relaxed">
          "Srf supera expectativas y garantiza satisfacción total. Diseñado para un publico bastante amplio, proporcionamos soluciones efectivas que generan buenos beneficios. Descubre la plenitud de srf y experimenta la satisfacción de logras buenos resultafos en tu vida economica sin igual."
        </p>
      </div>
    </div>
  </div>
  <div class="bg-gray-100">
    <div class="container mx-auto py-12">
      <div class="max-w-2xl mx-auto bg-white p-8 border shadow-md rounded-md">
        <h2 class="text-4xl font-semibold mb-4 text-gray-800">Nuestra Visión</h2>
        
        <p class="text-gray-600 leading-relaxed mb-6">
          En nuestro proyecto estudiantil, nos proponemos ser un agente de cambio positivo en el entorno académico. Aspiramos a crear un ambiente inclusivo, inspirador y colaborativo que fomente el aprendizaje y el crecimiento personal. Buscamos construir una comunidad donde cada estudiante se sienta motivado y apoyado en su viaje educativo.
        </p>

        <div class="flex items-center">
          <div class="mr-4">
            <img :src="Icono" alt="Icono de Visión" class="w-10 h-10">
          </div>
          <p class="text-gray-600">
            Buscamos crear una generación de líderes educativos, empoderados para hacer contribuciones significativas a la sociedad y abrazar oportunidades para el aprendizaje continuo.
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>
 

    </Layout>
</template>
<style scoped></style>